body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MAIN - START */

/* MAIN - END */

/* DASHBOARD - START */
.sidebar {
  position: fixed;
  top: 1rem;
  bottom: 0;
  left: 0;
  z-index: 99;
  padding: 48px 0 0;
  box-shadow: 1px 1px black;
}

.tableSelectRow:hover {
  background-color: rgb(164, 223, 164);
  cursor: pointer;
}
/* DASHBOARD - END */

/* OPTION - START */

.optionContainer {
  max-width: 350px;
  padding: 10px;
  border: 5px dotted rgb(226, 22, 56);
}

.optionName {
  text-decoration: underline;
}

.movieOptionsList {
  border: 1px solid black;
}

.movieOption:hover {
  cursor: pointer;
  background-color: rgba(22, 233, 3, 0.5);
}

.removeMovieList {
  border: 1px solid black;
}

.removeMovieList > p {
  margin: 0;
  padding: 0;
}
.removeMovieList > p:hover {
  background-color: rgba(155, 0, 0, 0.5);
  cursor: pointer;
}

/* OPTION - END */

/* VOTE - START */
.rankDwnBtn:hover,
.rankUpBtn:hover {
  cursor: pointer;
  transform: scale(1.25);
}
/* VOTE - END */
