body {
  margin: 0 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MAIN - START */

.main {
  min-height: 50vh;
}

/* MAIN - END */

/* OPTION - START */

.optionContainer {
  max-width: 350px;
  padding: 10px;
  border: 5px dotted rgb(226, 22, 56);
}

.optionName {
  text-decoration: underline;
}

.movieOptionsList {
  border: 1px solid black;
}

.movieOption:hover {
  cursor: pointer;
  background-color: rgba(22, 233, 3, 0.5);
}

.removeMovieList {
  border: 1px solid black;
}

.removeMovieList > p {
  margin: 0;
  padding: 0;
}
.removeMovieList > p:hover {
  background-color: rgba(155, 0, 0, 0.5);
  cursor: pointer;
}

/* OPTION - END */

/* VOTE - START */
.rankDwnBtn:hover,
.rankUpBtn:hover {
  cursor: pointer;
  transform: scale(1.25);
}
/* VOTE - END */

/* OLD - START */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnContainer {
  display: flex;
  gap: 10px;
}

.pollCard {
  border: 1px solid black;
  width: 200px;
}

.addPollContainer {
  border: 1px solid blue;
  width: 350px;
}

.addPollContainer > form > button {
  width: 100px;
  border: 1px solid blue;
}

.addPollContainer > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.generateLinkBtn {
  margin-top: 25px;
}
/* OLD - END */
